@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #EDEDED;
}
.white-content{
    color: #EDEDED;
    line-height: 1.5;
}
h1{
    font-family: Righteous;
}
button{
    background-color: #DA0037;
    color: #EDEDED;
    border: none;
    font-family: Righteous;
}
.margn-top{
    margin-top: 5vh;
}
nav{
    width: 100%;
    background-color: #171717;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 100;
    justify-content: space-evenly;
}
.logo{
    width: 60%;
    height: 10vh;
    display: flex;
    align-items: center;
    
}
.logo img{
    /* width: 50%;
    height: 50%; */
}
.hamborger{
    width: 20%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-icon{
    color: #DA0037;
}
.nav-item{
    width: 100%;
    height: 90vh;
    display: none;
    
}
.nav-class{
    display: flex;
}
.nav-item ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}
ul li{
    width: 40%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EDEDED;
    
    margin-bottom:4vh;
}
ul li:hover{
    color: #DA0037;
    background-color: #EDEDED;
    border-radius: 5px;
}
header{
    width: 100%;
    margin-top: 10vh;
    /* height: 100vh; */
    background-color: #171717;
    /* margin-top:-1vh; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-container{
    width: 90%;
    height: 100%;
    margin-bottom: 3vh;
}
.header-container img{
    width: 100%;
}
.header-container h1{
    width: 60%;
    font-size: 46px;  
}
.header-container button{
    width: 40vw;
    height: 4vh;
    border-radius: 30px;
    margin-top: 2vh;
}
.header-image{
    display: none;
}

/* content */
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    margin-top: -1vh;
}
.sub-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.sub-img{
    width: 100%;
}
.sub-img img{
    width: 100%;
    height: 100%;
}
h2{
    width: 80%;
    font-size: 30px;
    color: #EDEDED;
    margin-bottom: 3vh;
    line-height: 1.8;
    font-family: Righteous;
}
.sub-content{
    width: 100%;
    font-size: 14px;
    color: #EDEDED;
    line-height: 1.7;
    font-family: Roboto+Mono;
}
.sub-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sub-cont button{
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    margin-top: 3vh;
}
.sub-cont button a{
    text-decoration: none;
    font-family: Righteous;
    color: #EDEDED;
}
.benifit-img{
    width: 100%;
    height: 35vh;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.benifit-cont{
    width: 60%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DA0037;
    background: #ededed79;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    font-family: Roboto+Mono;
    font-weight: 600;

}
.class-container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.635417) 58.85%, rgba(255, 255, 255, 0) 100%);
    border-radius: 12px;
    margin-bottom: 5vh;
    color: #DA0037;
    line-height: 1.6;
}
h3{
    font-size: 24px;
    margin: 2vh 0;
    font-family: Righteous;
}
.class-container span{
    width: 90%;
    margin-bottom: 2vh;
}
.class-container div{
    width: 90%;
}
.class-container div button{
    width: 30vw;
    height: 4vh;
    border-radius: 5px;
}
.instructor-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.instructor{
    width: 90%;
    height: 55vh;
    margin-bottom: 3vh;
}
.instructor img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0 50px 0;
}
.abt-insructor{
    width: 100%;
    height: 10vh;
    display: none;
    color: #EDEDED;
    background-color: #DA0037;
    position: relative;
    bottom: 10vh;
    border-radius: 0 0 50px 0;
    padding: 2vh 2vw;
    font-size: 18px;
    font-weight: 500;

}
.instructor img:hover + .abt-insructor {
    cursor: pointer;
    display: block;
  
}
   
.get-in-touch{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.get-in-touch div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    
}
.get-in-touch div span{
    color: #EDEDED;
}
.icon{
    margin-bottom: 1vh;
    color: #DA0037;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
form input{
    width: 90%;
    height: 5vh;
    padding-left: 3vw;
    margin-bottom: 2vh;
}
form textarea{
    width: 90%;
    height: 10vh;
    padding-left: 3vw;
    margin-bottom: 4vh;
}
form button{
    width: 40vw;
    height: 4vh;
    border-radius: 10px;
}

footer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vh;
    border-top: 1px solid #DA0037 ;
}
footer div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}
.ft-hd{
    font-size: 16px;
    font-weight: 600;
    color: #EDEDED;
    margin-bottom: 2vh;
}
.ft-cont{
    font-size: 12px;
    color: #EDEDED;
    margin-bottom: 1vh;
 
}
.icon-class{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width:550px){
    .logo{
        width: 10%;
        height: 15vh;
    }
    .logo img{
        width: 100%;
    }
    .hamborger{
        width: 10%;
        display: none;
    }
    .nav-item{
        width: 60%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        
    }
    .nav-item ul{
        height: 15vh;
        flex-direction: row;
    }
    ul li{
        font-size: 12px;
        margin-bottom: 0;
    }
    header{
        margin-top: 15vh;
    }
    .header-container{
        width: 40%;
        padding-top: 7vh;
        
    }
    .header-container h1{
        font-size: 50px;
    }
    .header-container img{
        display: none;
    }
    .header-container button{
        width: 22vw;
        height: 8vh;
        margin-top: 4vh;
    }
    .header-image{
        display: block;
        width: 45%;
    }
    .header-image img{
        width: 100%;
        height: 100%;
    }
    /* content */

    .sub-container{
        justify-content: space-evenly;
    }
    .margn-top{
        margin-top: 12vh;
    }
    .sub-img{
        width: 50%;
    }
    .sub-cont{
        width: 40%;
    } 
    .sub-cont button{
        width: 25vw;
        height: 8vh;
        margin-top: 5vh;
    }
    h2{
        width: 60%;
        margin: 15vh 0 8vh 0;
    }
    .benifits-head{
        width: 40%;
    }
    .benifit-img{
        width: 50%;
        height: 70vh;
        background-image: url('./image/benifits.png');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        align-items: flex-start;
    } 
    .benifit-cont{
        height: 13vh;
        margin-left: -13vw;
        background: rgba(255, 242, 242, 0.07);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
    }
    .class-container{
        width: 45%;
        height: 110vh;
    }
    .class-container div button{
        width: 18vw;
        height: 8vh;
    }
    .class-container span{
        margin-bottom: 6vh;
    }

    /* instructor */
    .instructor-cont{
        justify-content: space-evenly;
    }
    .instructor{
        width: 40%;
        height: 70vh;
        margin-bottom: 10vh;
    }
    .abt-insructor{
        height: 15vh;
        bottom: 15vh;
    }
    /* touch with us */
    .get-in-touch{
        justify-content: space-evenly;
    }
    .get-in-touch div {
        width: 25%;
    }
    form{
        margin-top: 10vh;
    }
    form input{
        width: 55%;
        height: 10vh;
        margin-bottom: 4vh;
    }
    form textarea{
        width: 55%;
        height: 20vh;
        margin-bottom: 8vh;
    }
    form button{
        width: 20vw;
        height: 8vh;
    }
    footer{
        justify-content: space-evenly;
        padding-top: 10vh;
    }
    footer div{
        width: 30%;
    }
    .ft-cont , .ft-hd{
        margin-bottom: 4vh;
    }
}
/* web view */
@media screen  and (min-width:900px){
    .nav-item{
        width: 35%;
    }
    ul li{
        height: 4vh;
    }
    .header-container{
        width: 28%;
    }
    .header-container h1{
        width: 80%;
        font-size: 90px;
    }
    .header-container button{
        width: 12vw;
        height: 5vh;
    }
    .header-image img{
        width: 90%;
        height: 90%;
    }
    .sub-container{
        width: 80%;
        margin-top: 8vh;

    }
    h2{
        width: 85%;
        font-size: 72px;
        margin: 6vh 0 3vh 0;
    }
    .sub-content{
        font-size: 17px;
    }
    .sub-img img{
        width: 90%;
        height: 90%;
    }
    .sub-cont button{
        width: 13vw;
        height: 4vh;
    }
    .benifit-cont{
        width: 40%;
        height: 7vh;
        margin-left: -7vw;
    }
    .benifit-img{
        width: 40%;
        height: 70vh;
    }
    .class-container {
        height: 45vh;
    }
    .class-container div button {
        width: 12vw;
        height: 4vh;
    }
    .instructor-cont{
        justify-content: space-evenly;
    }
    .instructor{
        width: 30%;
        height: 70vh;
    }
    .abt-insructor{
        height: 10vh;
        bottom: 10vh;
    }
    form input{
        width: 45%;
        height: 5vh;
        margin-bottom: 2vh;
    }
    form textarea{
        width: 45%;
        height: 10vh;
        margin-bottom: 4vh;
    }
    form button{
        width: 10vw;
        height: 5vh;
    }
    .ft-hd{
        font-size: 18px;
    }
    .ft-cont {
        font-size: 15px;
    }
    .icon-class{
        width: 20%;
    } 
}